<a href="" class="btn-info btn fr" ng-click="life.state = -1" ng-if="life.state >= 0"><i class="fa fa-remove"></i></a>

<h1 class="txt-c col-12">Traumatisme crânien léger</h1>
<div class="max-col-6" ng-include="'views/includes/tcl/intro.html'" ng-if="life.state == -1"></div>
<div class="max-col-6" ng-include="'views/includes/tcl/running.html'" ng-if="life.state >= 0"></div>
<!-- <textarea class="max-col-6 box" name="" id="" cols="30" rows="10">{{life}}</textarea> -->
