<div class="content col-12">
  <p class="txt-c f2">Les indications de l’imagerie chez l’adulte et l’enfant.</p>
  <p class="txt-c f2">Guide issu des recommandations de la SFMU 2012</p>
  <div class="box bg-warning txt-warning fa-lg">
    <p>
      <strong><i class="fa fa-exclamation-triangle fa-2x fl mr"></i>
      Rappel :<br>TCL = score de Glasgow entre 13 et 15</strong>
    </p>
  </div>
  <div class="col-12">&nbsp;</div>
  <div class="input-group col-12 txt-c">
    <a class="big-btn btn-info" href="" ng-click="life.state = 0">
      <i class="fa fa-play fa-2x"></i> <hr>Démarrer</a>
  </div>
</div>
<div class="col-12">&nbsp;</div>
<div class="box bg-base1 txt-w col-12">
  <p>
    <strong><i class="fa fa-info-circle"></i>
    &nbsp;Cette application ne contient pas d’expertise médicale et ne se
    substitue pas à l’analyse clinique et l’expertise professionnelle.</strong>
  </p>
</div>
