<div class="content col-12 row">
  <div
    ng-include="'views/includes/tcl/rec-option.html'"
    ng-repeat="options in [automaton[life.state].options]"
    ng-init="parent = automaton[life.state]"
    ></div>

  <div
    class="box bg-base1 col-12 txt-c"
    ng-if="
      automaton[life.state].display !== undefined &&
      automaton[life.state].display.cond()
    "
    marked="automaton[life.state].display.getV()">
  </div>

  <div class="col-12">&nbsp;</div>
  <div class="input-group col-12 txt-c">
    <a
    class="big-btn btn-base1"
    href=""
    ng-if="life.previous.length>0"
    ng-click="life.state = life.previous.pop();">
    <i class="fa fa-backward fa-lg"></i>
    <hr>
    <span><p>Revenir</p></span>
  </a>
    <a
      ng-repeat="s in automaton[life.state].nextStates"
      ng-if="s.cond()"
      class="big-btn btn-info"
      href=""
      ng-click="life.previous.push(life.state);life.state = s.id;">
      <i class="fa fa-forward fa-lg"></i>
      <hr>
      <span  marked="s.l"></span>
    </a>
  </div>
</div>
