<div
  class="fa-lg txt-c row input-group"
  ng-class="{'clickable btn btn-base1':parent.hide!==undefined}"
  ng-click="parent.hide = !parent.hide">
  <div
    ng-class="{'col-11':parent.hide!==undefined, 'col-12':parent.hide===undefined}"
    marked="typeof(parent.question)==='string'?parent.question:parent.question()"></div>
  <i
    ng-if="parent.hide!==undefined"
    class="col-1 fa fa-lg"
    ng-class="{'fa-caret-down':parent.hide==true, 'fa-caret-up':parent.hide==false}"
    ></i>
</div>
<div class="input-group row" ng-repeat="o in options" ng-show="!parent.hide || life[o.k]===o.v">
  <a
    href=""
    class="btn-base1 box col-12 lnk-clr"
    ng-click="
      life[o.k] = o.v;
      parent.hide = parent.hide===false?true:undefined
    "
    ng-if="
      o.options === undefined &&
      (typeof(o.l)==='string'?o.l:o.l())!==''
    "
  >
    <i
      class="fa col-1 fa-lg"
      ng-class="{
        'fa-circle-o':life[o.k]!==o.v,
        'fa-check-circle-o':life[o.k]===o.v
      }"
    ></i>&nbsp;
    <div class="col-10" marked="typeof(o.l)==='string'?o.l:o.l()"></div>
  </a>

  <div
    ng-include="'views/includes/tcl/rec-option.html'"
    ng-if="o.options !== undefined"
    ng-repeat="options in [o.options]"
    ng-init="parent = o"
  ></div>
</div>
